@import (reference) "../../style/mixin.less";

.header-container{
  background-color: @bg-color;
  .wh(100%, 88px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  .header-item{
    line-height: 88px;
    .font(32px,#555);
    &:nth-of-type(2){
      font-weight: bolder;
    }
    span i{
      .font(40px,#555);
    }
  }
}

.nav-container{
  position: fixed;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  .nav-item{
    padding: 0 30px;
    .wh(100%, 120px);
    .font(32px, #555);
    line-height: 120px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    span i{
      .font(40px,#555);
    }
  }
  
}

.nav-enter{
  transform: translate3d(-100%, 0, 0);
}

.nav-enter.nav-enter-active{
  transform: translate3d(0, 0, 0);
  transition: transform 300ms;
}

.nav-leave{
  transform: translate3d(0, 0, 0);
}

.nav-leave.nav-leave-active{
  transform: translate3d(-100%, 0, 0);
  transition: transform 300ms;
}